.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: var(--primaryBgGradient);
  color: #333;
  font-size: 0.8rem;
}

.footerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1082px;
  padding: 20px;
  gap: 20px;
}
